<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NIXGONFONTS M 2.0.ttf</string>
		<string>NIXGONFONTS L 2.0.ttf</string>
		<string>NIXGONFONTS B 2.0.ttf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>날씨 정보를 받아오기 위해 위치 정보 활용에 대해 승인하시겠습니까?</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>날씨 정보를 받아오기 위해 위치 정보 활용에 대해 승인하시겠습니까?</string>
	<key>AuthKey</key>
	<string>3lvr70xYQf%2FqW67Vc4%2FJ%2BN3OHVi7U2ufZLJNZ9MWaJ7ttGYwakVMXKc19RLw6xaym4PTpLXuWjlEQi0gBeyHfg%3D%3D</string>
	<key>APIURL</key>
	<string>http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getVilageFcst</string>
	<key>PMAPIURL</key>
	<string>http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty</string>
	<key>PMAuthKey</key>
	<string>3lvr70xYQf%2FqW67Vc4%2FJ%2BN3OHVi7U2ufZLJNZ9MWaJ7ttGYwakVMXKc19RLw6xaym4PTpLXuWjlEQi0gBeyHfg%3D%3D</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
</dict>
</plist>
